*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


/*---N A V I G A T I O N---*/

nav{
    width: 100%;
    position: absolute;
    text-align: center;
}
nav li{
    display: inline-block;
}
nav a{
    color: inherit;
    text-decoration: none;
    transition: all .5s ease;
    position: relative;
}
nav .left{
    position: absolute;
    left: 80px;
}
nav .right{
    position: absolute;
    right: 80px;
}

nav a:active{
    transform: translateY(6px);
}

nav a:visited{
    color: inherit;
}

nav a:hover{
    color: grey;
}

nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: grey;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav a:hover:after {
  width: 100%;
  left: 0;
}

nav ul{
    margin-top:30px;
    height: 60px;
}




/*--------------------------*/


/*---B O D Y---*/

body{
    height: auto;
    display: grid;
    background-color: black;
    color: white;
    font-family: Playfair, serif;
    font-size: 50px;
}


.webDes{
    position: absolute;
    top: 20px;
    left: 100px;
}

.webDes a{
    text-decoration: none;
}

article{
    height: auto;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer,
header{
    font-family: Josefin Sans, sans-serif;
    font-size: 30px;
}

footer{
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

footer>a{
    color: inherit;
    text-decoration: none;
    position: relative;
}
footer>a:hover{
    text-decoration: none;
}

footer a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: grey;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

footer a:hover:after {
  width: 100%;
  left: 0;
}

.imgMe {
    text-align: center;
    margin-top: 20px;
}
.imgMe img{
    height: 12em;
}
.div1{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    height: auto;
    width: auto;
}

.portfolioClass{
    background-color: black;
    color: black;
}

.portfolioPage{
    margin: 130px 80px 0px 80px;
}

.portfolioPage h2{
    font-size: 40px;
    text-align: center;
}

.portfolioPage p{
    font-size: 20px;
    margin-top: 20px;
}

.portfolioNav{
    position: fixed;
    background-color: black;

}

.homeNav{
    position: fixed;
    background-color: black;
}


/******** Basic Web Design ********/

.basicwebdesign{
    background-color:
}

/************ Loading Page ***********/

.hide{
    animation: disappear 1s ease-out forwards;
}
@keyframes disappear{
    33%{
        opacity: 0.99;
    }
    66%{
        opacity: 0.66;
    }
    100%{
        opacity: 0;
    }
}


#load {
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:40%;
  margin-left:-300px;
  overflow:visible;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family: Josefin Sans, sans-serif;
  font-size: 20px;
  animation:move 2s linear infinite;
  transform:rotate(180deg);
  color:white;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
}

@keyframes move {
    0% {
        left:0;
        transform:rotate(180deg);
        opacity:0;
    }
	35% {
		left: 41%;
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		transform:rotate(-180deg);
		opacity:0;
	}
}


/**********************************/

/****** Fade In Pages Effect ******/

.animate-in {
    animation: fadeIn 1s ease-in forwards;
}

.animate-in2 {
    animation: fadeIn2 1s ease-in forwards;
}

@keyframes fadeIn2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        background-color: #f9f9f9;
    }
}

/**********************************/



